
a {
    color: lightslategrey;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    position: fixed;
    background: top;
    
  }
  


  .project {
    font-family: sans-serif;
    font-size: 25px;
    box-shadow: 12px;
    margin: 5px;

  }


  ul {
    list-style-type: none;
    background: salmon;
    padding: 16px;

  }


  body {
    width: 900px;
    max-width: 1000px;
    margin: 0 auto;
    font: large;
  }

